body {
  font-family: "Comfortaa", cursive;
}

div.container {
  margin: 100px auto;
  max-width: 800px;
}

.city-input {
  margin: 80px 0 20px;
  padding: 7px 58px 5px 15px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 10px rgb(150, 209, 199);
  transition: all 100ms ease-in-out;
}

.city-input:hover {
  box-shadow: 10px 10px 20px rgb(150, 209, 199);
}

.show-me {
  margin-left: 10px;
  padding: 7px 15px 5px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background: rgba(255, 123, 84, 0.9);
  box-shadow: 5px 5px 10px rgb(150, 209, 199);
  transition: all 100ms ease-in-out;
}

.show-me:hover {
  padding: 12px 20px 10px;
  margin-left: 0;
  border-radius: 25px;
  background: rgb(255, 123, 84);
  box-shadow: 10px 10px 20px rgb(150, 209, 199);
}

.current-button {
  font-size: 54px;
  margin: 10px 20px 30px 50px;
  padding: 20px 40px 15px;
  border-radius: 50%;
  border: none;
  color: #fff;
  background: rgba(255, 123, 84, 0.9);
  box-shadow: 10px 10px 20px rgb(150, 209, 199);
  transition: all 150ms ease-in-out;
}

.current-button:hover {
  background: rgb(255, 123, 84);
  padding: 25px 45px 20px;
  box-shadow: 30px 30px 50px rgb(150, 209, 199);
  margin: 10px 10px 20px 50px;
}

header {
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  box-shadow: 30px 30px 50px rgb(150, 209, 199);
  transition: all 150ms ease-in-out;
}

header:hover {
  box-shadow: none;
  text-shadow: 10px 10px 15px rgba(255, 123, 84, 0.6);
}

.current-weather {
  text-align: center;
  font-size: 120px;
  line-height: 0;
}

.current-temperature {
  font-size: 70px;
  font-weight: 600;
  color: rgb(18, 148, 127);
}

.current-conditions {
  text-align: center;
  font-size: 18px;
  color: rgb(47, 196, 178);
}

.current-conditions:first-letter {
  text-transform: capitalize;
}

.city-time {
  text-align: center;
  margin: 30px auto;
}

.current-city {
  font-size: 36px;
  line-height: 1;
  color: rgb(237, 97, 97);
}

.current-time {
  color: rgb(255, 123, 84);
}

.forecast {
  max-width: 400px;
}

.day {
  color: rgb(18, 148, 127);
  text-align: center;
  padding: 0 40px;
  border-radius: 35px;
  margin: 0 0 14px;
  position: relative;
  box-shadow: 5px 5px 10px rgb(150, 209, 199);
  transition: all 250ms ease-in-out;
  transform: 250ms ease-in-out;
}

.day:hover {
  transform: translate3d(15px, 0px, 0px);
  background: rgba(255, 123, 84, 0.2);
  box-shadow: 10px 10px 20px rgb(150, 209, 199);
}

.forecast-day {
  text-align: left;
  font-weight: 600;
  color: rgb(237, 97, 97);
  padding: 0;
  font-size: 24px;
  margin-top: 20px;
}

.highest-temp {
  text-align: right;
  padding-right: 5px;
  font-size: 24px;
  margin-top: 20px;
}

.lowest-temp {
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  padding-top: 9px;
  color: rgb(47, 196, 178);
  margin-top: 20px;
}

.coded-by {
  text-align: left;
}

.github-link {
  color: rgb(18, 148, 127);
}
